.listContainer{
   
    display: flex;
    /*justify-content: center;*/
    margin: 20px;
}

.listWrapper{
   
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}
.radio{
    color:#016551;
    padding-left: 5px;
    font-weight: bold;
}
.listResult{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
}
.setFilter{
    margin: 50px 20px 0px 5px;
}
.headerSearch {
    height: 50px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 1px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    color: #016551; /*Text color in the search component*/
}
.selectmenu{
    width: 30%;
    border-color:#016551;
    border-radius:'5px';
    
}
