.navbar{
	height: 50px;
	background-color:#0d987d;
	display: flex;
	justify-content: center;
}

.navContainer{
	width: 100%;
	max-width: 1024px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
    margin: auto;
}

.logo{
    font-weight: 1000;
    font-size: 30px;
}

.navButton{
	margin-left: 20px;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	color: #0d987d;
}